@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-full px-3 py-2 uppercase font-bold cursor-pointer text-sm;
}

.card {
  @apply bg-gray-200 rounded-xl shadow border p-8 mb-8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
